@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_typography.scss";
@import "partials/_header.scss";
@import "partials/_menu.scss";
@import "partials/_hero.scss";
@import "partials/_about.scss";
@import "partials/_portfolio.scss";
@import "partials/_blog.scss";



html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	// color: black;
	background-color: white;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 2%;
}