.hide {
    display: none;
}

.show {
    display: block;
}


@keyframes falling-bagels {
			0% {
				top: -500px;
			}

			10%, 30%, 50%, 70%, 90% {
				margin-left: 10px;

			}

			20%, 40%, 60%, 80% {
				margin-left: 100px;
			}


			100% {
				top: 100%;
			}


		}

.bagels {
        position: absolute;
        animation-name: falling-bagels;
        animation-duration: 5s;
        /*animation-delay: 1s;*/
        animation-timing-function: ease-in-out;
        top: -500px;
        animation-iteration-count: 1;
        /*animation-direction: */
}

.bagels1{
    left: 11%;
    animation-delay: 3s;
}

.bagels2 {
    left: 25%;
    animation-delay: 5s;
    animation-duration: 10s;
}

.bagels3 {
    left: 33%;
    animation-delay: 1.5s;

}

.bagels4{
    left: 79%;
    animation-delay: 4s;
}


.bagels5 {
    left: 62%;
    animation-delay: .8s;
}