.about {
    min-height: 100vh;
    padding: 250px 0 250px 0;
        &__text-container {
            padding: 0 0 0 45px;
            /* width: 94%; */
            display: flex;
            flex-direction: column;
            // /* align-items: flex-end; */
            /* align-self: baseline; */
        }
        &__content-container {
            // padding-top: 150px;
            // padding-bottom: 75px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
                &--left {
                    // width: calc(50% - 20px);
                    /* flex-direction: row; */
                }
                &--right {
                    // width: 70%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    // margin-left: 20px;
                }
        }
}


.about-image-container {
    display: inline-block;
    // width: 50%;
    margin-left: 200px;
        &__img {
            max-width: 100%;
            box-shadow: 
                01px 0 $pink,
                01px 02px $pink,
                02px 01px $pink,
                02px 03px $pink,
                03px 02px $pink,
                03px 04px $pink,
                04px 03px $pink,
                04px 05px $pink,
                05px 04px $pink,
                05px 06px $pink;
        }
}


//////////////////MEDIA QUERIES///////////////



@media (max-width: 1500px) {
    .about {
        padding: 100px 0 0 0;
    }
}

@media (max-width: 900px) {
    .about {
        // padding: 0;
        &__content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
                &--left {
                    width: 33%;
                }
            }
        &__text-container {
            padding: 40px 0 0 45px;
            flex-direction: row;
            align-items: center;
                & p {
                    padding-left: 30px;
                }
                & h2 {
                    padding-top: 0;
                }
            }
        }
        
        
    .about-image-container {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            &__content-container {
                &--left {
                    width: 25%;
                }
            }
            &__text-container {
                flex-direction: column;
                // padding-top: 20px;
                padding: 20px 0;
                    & h2 {
                        text-align: center;
                    }
            }
}
}