.hero {
    // height: calc(100vh - 65px);
    &__container{
    height: 100vh;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}

.svg-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero-svg {
    height: 100%;
}


.hero-text-container {
    width: 100%;
    z-index: 100;
}

.text-container {
        &__heading,
        &__subheading {
            padding-bottom: 20px;
            &--align-right {
            text-align: right;
            }
        }
        &__heading {
            padding-top: 30px;
            margin-bottom: 7px;
        }
}

//////SVG STYLES////////////////
.cls-1 {
        fill: transparent;
        stroke: none;
        stroke-miterlimit: 10;
        stroke-width: 5px;
    }

.cls-2 {
        font-size: 29px;
        letter-spacing: 0.02em;
    }

.cls-2,
.cls-6 {
        font-family: "Cabin Sketch", cursive;
    }

.cls-3 {
        letter-spacing: 0.03em;
    }

.cls-4 {
        letter-spacing: -0.05em;
    }

.cls-5 {
        letter-spacing: 0.01em;
    }

.cls-6 {
        font-size: 45px;
        letter-spacing: 0.03em;
    }

.cls-7 {
        letter-spacing: -0.01em;
    }

.cls-8 {
        letter-spacing: 0.02em;
    }

.cls-9 {
        letter-spacing: 0.02em;
    }

.coffee-shape,
.coffee-text,
.frame-shape,
.frame-text,
.laptop-shape,
.laptop-text,
.skills-shape,
.skills-text {
    fill:transparent;
    transition: all .3s;
}


#coffee-contact:hover .coffee-shape,
#frame-about:hover .frame-shape,
#laptop-portfolio:hover .laptop-shape,
#skills-book:hover .skills-shape {
    fill: white;
    stroke: black;
}

#coffee-contact:hover .coffee-text,
#frame-about:hover .frame-text,
#laptop-portfolio:hover .laptop-text,
#skills-book:hover .skills-text {
    fill: $darkgrey;
}


