.menu {
    padding: 0;
    &__list,
    &__item {
    padding: 0;
    margin-left: 20px;
    list-style: none;
    &--horizontal {
        display: flex;
        flex-direction: row;
        }
    }
    &__link {
        transition: all .3s;
        &:hover {
            color: orange;
        }
    }

.menu__link {
    transition: all .3s;
    }
}
