

.portfolio-text-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.image-row {
    display: flex;
    margin-bottom: 125px;
        &__link {
            display:inline-block;
            width: 100%;
        }
        &__image {
            max-width: 100%;
            // border: 1px solid $blue;
            box-shadow: 
                01px 0px $blue,
                01px 02px $blue,
                02px 01px $blue,
                02px 03px $blue,
                03px 02px $blue,
                03px 04px $blue,
                04px 03px $blue,
                04px 05px $blue,
                05px 04px $blue,
                05px 06px $blue;
        }
        &__description {
            display: flex;
            align-items: center;
            width: 75%;
                &--left {
                    margin-right: 35px;
                    text-align: right;
                }
                &--right {
                    margin-left: 35px;
                }
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: flex-start;
            align-items: center;
            padding:0;
                &--right-align{
                    justify-content: flex-end;
                }
        }
        &__item {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 12px;
            padding:3px 6px;
            background: $blue;
            font-size: 1.5rem;
            text-transform: uppercase;
            box-shadow: 
                01px 0 $yellow,
                01px 02px $yellow,
                02px 01px $yellow,
                02px 03px $yellow,
                03px 02px $yellow,
                03px 04px $yellow,
                04px 03px $yellow,
                04px 05px $yellow,
                05px 04px $yellow,
                05px 06px $yellow;
            color: white;
        }
}

.link-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    &--right-align {
        justify-content: flex-end;
    }
    &__link {
        display: inline-block;
        margin-right: 10px;
        padding:3px 6px;
        font-size: 1.5rem;
        text-transform: uppercase;
        border: 1px solid $blue;
        text-decoration: none;
            &:hover {
            background: $blue;
            text-transform: uppercase;
            box-shadow: 
                01px 0 $yellow,
                01px 02px $yellow,
                02px 01px $yellow,
                02px 03px $yellow,
                03px 02px $yellow,
                03px 04px $yellow,
                04px 03px $yellow,
                04px 05px $yellow,
                05px 04px $yellow,
                05px 06px $yellow;
            color: white;
        }
    }
}