.section-skills{
    background: $blue;
    padding-bottom: 75px;
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        padding:0;

    }
    &__item {
        list-style: none;
        margin: 20px 30px 20px 0;
    }
    &__icon {
        font-size: 10rem;
        // color: $darkgrey;
        color: white;
    }
    &__image {
        width: 100px;
    }

.skills-text-container {
    color: white;
}

}

///////////////MEDIA QUERIES////////////////
@media (max-width: 860px) {
    .section-skills {
        &__icon {
            font-size: 8rem;
        }
        &__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
        }
        &__image {
            width: 80px;
        }
}
}

@media (max-width: 500px) {
    .section-skills {
        padding-bottom: 20px;
        &__icon {
            font-size: 3.5rem;
        }
        &__image {
            width: 35px;
        }
    }
}

