// font-family: 'Cabin Sketch', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Noto Serif', serif;

html {
    font-size: 62.5%;
}

html, a {
    color: $darkgrey;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.logo__link,
.text-container__heading {
    font-family: "Cabin Sketch", cursive;
    text-transform: uppercase;
    font-size: 4.5rem;
    text-decoration: none;
    line-height: 4rem;
    border-bottom: 1px 
        &--large{
            font-size: 9rem;
            line-height: 8rem;
        }
        &::after {
            content: "";
            display: block;
            // margin: 0 auto;
            width: 0;
            padding-top: 2px;
            border-bottom: 2px dotted pink;
            transition: width .5s;
        }
        &:hover::after {
            width: 50%;
        }

}

.menu,
.text-container {
    &__paragraph,
    &__subheading,
    &__link {
        font-family: "Noto Serif, serif";
        text-decoration: none;
        font-size: 2rem;
        &--small {
            font-size: 1.8rem;
        }
        &--uppercase {
            text-transform: uppercase;
        }
    }
    &--uppercase {
            text-transform: uppercase;
        }
}


// .text-container__subheading,
// .menu {
//     text-transform: uppercase;
//     font-size: 2rem;
//         &--small {
//             font-size: 1.5rem;
//         }
// }

// .text-container__paragraph,
// .menu {
//     font-size: 1.8rem;
// }








